@page "/ViewTodos"
@using Domain.Models
@using HttpClients.ClientInterfaces
@inject ITodoService todoService


<h3>Todos</h3>




@code {
    private IEnumerable<Todo>? todos;

    protected async override Task OnInitializedAsync()
    {
        
    }

}